/* Menghapus margin */
body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Pengaturan ukuran logo */
.logo-size {
  max-width: 300px; 
  height: auto; 
}

/* Pengaturan untuk garis pada logo */
.d-flex {
  display: flex;
  align-items: center;
}
.separator {
  border-left: 1px solid #666; 
  height: 80px; 
  margin-left: 8px; 
  margin-right: 8px; 
}

/* Pengaturan jarak atas bawah navbar*/
.navbar {
  margin-top: -0.5em;
  margin-bottom: -1.77em;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

/* Pengaturan rata kiri kanan navbar */
.row {
  margin-left: 0;
  margin-right: 0;
}
.navbar-collapse {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -1.8em;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/* Pengaturan untuk tata letak postingan */
.category-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.content-item {
  margin-bottom: 15px;
}

/* Pengaturan untuk tata letak jumlah kata dan estimasi waktu membaca */
.reading-info {
  margin-bottom: 20px;
  font-style: italic;
  color: #666;
}