/* Pengaturan ukuran logo */
.logo-size {
  width: auto;
  max-width: 900px;
  height: auto;
  margin-left: 25px;
}
@media (max-width: 576px) {
  .logo-size {
    width: 530px; /* Ukuran untuk layar sangat kecil (ponsel) */
  }
}
@media (max-width: 768px) {
  .logo-size {
    width: 150px; /* Ukuran untuk layar kecil hingga menengah (tablet kecil) */
  }
}
@media (max-width: 992px) {
  .logo-size {
    width: 350px; /* Ukuran untuk layar menengah (tablet besar, laptop kecil) */
  }
}
@media (min-width: 992px) {
  .logo-size {
    width: 500px; /* Ukuran untuk layar besar (laptop besar, desktop) */
  }
}
.text-end {
  padding-right: 25px; /* Sesuaikan nilai padding sesuai kebutuhan */
}

.navbar {
  margin-top: 0.3em;
  margin-bottom: -6.4em;
  padding-top: 12px;
  padding-bottom: 5em;
}
.regional-links {
  margin-left: 30px;
}
.nav-position {
  margin-right: 30px;
}

/* Pengaturan navbar */
.navbar-collapse {
  padding: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

/* Pengaturan untuk tata letak postingan */
.category-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 10px;
}
.content-item {
  margin-bottom: 15px;
}
.negative-mb-1 {
  margin-bottom: -0.45rem;
}

/* Pengaturan untuk gambar footer */
footer {
  padding: 0 15px;
}
.footer-logo {
  width: 80px;
  height: auto;
  margin: 0 3px;
}